
html(lang="en")
    head
        title Intro
        link(rel="stylesheet", href="static/style/main.css")
    body 
        nav.main-nav
            ul
                li
                    a.signin(href='/login') Sign in
                li
                    a.signup(href='/register') Sign up 